*{
   box-sizing: border-box;
}

body{
   margin: 0;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   font-family: Arial, Helvetica, sans-serif;
   background-color: antiquewhite;
}

.container{
   display: flex;
   max-width: 100%;
   width: 800px;
   padding: 20px;
   margin: 0 auto;
}

aside {
   padding: 10px 20px;
   border-right: 1px solid #6d6565;
   width: 250px;
}

button {
   display: block;
   width: 100%;
   font-size: 18px;
   margin-bottom: 10px;
   border-radius: 7px;
   outline: none;
   padding: 5px 15px;
   border: 1px solid rgb(148, 140, 140);
   background-color: bisque;
   box-shadow: -1px -1px #6d6565;
}

button:hover {
   box-shadow: 1px 1px #6d6565;
   cursor: pointer;
}

main{
   flex: 1;
   padding: 10px 20px;
}

h2{
   border-bottom: 1px solid rgb(148, 140, 140);
   display: flex;
   justify-content: space-between;
   font-weight: 300;
   padding: 0 10px 10px 10px;
   margin: 0px;
}

.person{
   display: flex;
   justify-content: space-between;
   padding: 5px;
   font-size: 17px;
}

h3{
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #6d6565;
   background-color: rgb(204, 204, 168);
   padding: 10px;
   box-shadow: 20px 2px rgba(90, 69, 69, 0.7);
}