*{
   box-sizing: border-box;
}

body{
   margin: 0;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   font-family: Arial, Helvetica, sans-serif;
   background-color: antiquewhite;
}