*{
   box-sizing: border-box;
}

body{
   margin: 0;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   font-family: Arial, Helvetica, sans-serif;
   background-color: antiquewhite;
}

.container{
   display: flex;
   max-width: 100%;
   width: 800px;
}

/* button {
   display: block;
   width: 100%;
   font-size: 20px;
   margin-bottom: 10px;
   border-radius: 7px;
   outline: none;
   padding: 5px 15px;
   border: 1px solid rgb(148, 140, 140);
} */